/Makefile.am
/fopen.c
/fstat.c
/gettimeofday.c
/msvc-inval.c
/msvc-inval.h
/stddef.in.h
/stdio.in.h
/sys_stat.in.h
/sys_time.in.h
/sys_types.in.h
/time.in.h
/unistd.c
/unistd.in.h
/alloca.in.h
/asnprintf.c
/close.c
/dosname.h
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/float+.h
/float.c
/float.in.h
/getdelim.c
/getline.c
/gettext.h
/intprops.h
/itold.c
/memchr.c
/memchr.valgrind
/msvc-nothrow.c
/msvc-nothrow.h
/open.c
/pathmax.h
/printf-args.c
/printf-args.h
/printf-parse.c
/printf-parse.h
/raise.c
/read.c
/realloc.c
/signal.in.h
/size_max.h
/snprintf.c
/stat.c
/stdbool.in.h
/stdint.in.h
/stdlib.in.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/vasnprintf.c
/vasnprintf.h
/verify.h
/wchar.in.h
/write.c
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xmalloc.c
/xsize.c
/xsize.h
/asprintf.c
/dprintf.c
/fprintf.c
/fpucw.h
/frexp.c
/frexpl.c
/fseterr.c
/fseterr.h
/full-write.c
/full-write.h
/isnan.c
/isnand-nolibm.h
/isnand.c
/isnanf-nolibm.h
/isnanf.c
/isnanl-nolibm.h
/isnanl.c
/math.c
/math.in.h
/printf-frexp.c
/printf-frexp.h
/printf-frexpl.c
/printf-frexpl.h
/printf.c
/safe-read.c
/safe-write.c
/safe-write.h
/signbitd.c
/signbitf.c
/signbitl.c
/sprintf.c
/stdarg.in.h
/stdio-impl.h
/vasprintf.c
/vdprintf.c
/vfprintf.c
/vprintf.c
/vsnprintf.c
/vsprintf.c
/xasprintf.c
/xprintf.c
/xprintf.h
/xvasprintf.c
/xvasprintf.h
/fclose.c
/fflush.c
/fpurge.c
/freading.c
/freading.h
/free.c
/freopen.c
/fseek.c
/fseeko.c
/ftell.c
/ftello.c
/ftruncate.c
/lseek.c
